.Button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  color: white;
  background-color: lightgreen;
  cursor: pointer;
}

.Button:hover {
    color: lightblue;
    background-color: white;
    border: 1px solid lightblue;
    font-weight: bold;
  }

.Button--hidden {
    display: none;
    };

